
.button-container-cus {
    display: inline-block;
    height: 100%;
  }
  
#play-button {
    height: 100%;
  }
  
  .tooltip {
    visibility: hidden;
    line-height: 1;
    text-align: center;
    position: absolute;
    top: -36px;
    background-color: rgba(30, 30, 30);
    font-weight: 500;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .settings {
    width: 200px;
    display: none;
    position: absolute;
    bottom: 60px;
    transform: translateX(-100px);
    color: white;
    background-color: rgba(30, 30, 30);
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .timestamp-section {
    display: flex;
    justify-content: center;
    margin: 5px;
  }

  .clip-row {
    display: flex;
    align-items: center;
    height: 50px;
  }

  .time-label-column {
    display: flex;
    justify-content: center;
    width: 30%;
  }

  .time-column {
    display: flex;
    justify-content: center;
    width: 70%;
  }

  .save-row {
    display: flex;
    justify-content: left;
    margin: 5px;
  }

  #save-button {
    margin-left: 20px;
  }

  .ypce-button {
    border: 1px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 1.2rem;
  }

  .ypce-button:hover {
    background-color: #535353;
  }