
.button-container-cus {
    display: inline-block;
    height: 100%;
  }
  
#play-button {
    height: 100%;
  }
  
  .tooltip {
    visibility: hidden;
    line-height: 1;
    text-align: center;
    position: absolute;
    top: -36px;
    background-color: rgba(30, 30, 30);
    font-weight: 500;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .settings {
    width: 300px;
    display: none;
    position: absolute;
    bottom: 60px;
    transform: translateX(-100px);
    color: white;
    background-color: rgba(30, 30, 30); /* White background color */
    padding: 10px;
    border: 'none';
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .timestamp-section {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .portion-row {
    display: flex;
    align-items: center;
    height: 50px;
  }

  .time-label-column {
    display: flex;
    justify-content: left;
    width: 40px;
  }

  .time-column {
    display: flex;
    justify-content: space-evenly;
    width: 120px;
  }

  .speed-column {
    display: flex;
    justify-content: right;
    width: 50px;
  }

  .save-row {
    display: flex;
    justify-content: left;
    margin-top: 10px;
  }

  #save-button {
    margin-left: 30px;
  }